@model IEnumerable<Products> 
<h1>Products</h1>
<p>
	<a class="btn btn-success" asp-controller="Products" asp-action="Create">
		Create a New Products
	</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Description</th>
			<th>Stock</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var products in Model)
		{
			<tr>
				<td>@products.Name</td>
				<td>@products.Price</td>
				<td>@products.Description</td>
				<td>@products.Stock</td>
				<td>
					<a class="btn btn-primary" asp-controller="Products" asp-action="Edit" asp-route-id="@products.ID">Edit</a>
					<a class="btn btn-danger" asp-controller="Products" asp-action="Delete" asp-route-id="@products.ID">Delete</a>
				</td>
			</tr>

		}
	</tbody>
</table>